[submodule "resin-yocto-scripts"]
	path = resin-yocto-scripts
	url = https://github.com/resin-os/resin-yocto-scripts.git
[submodule "layers/poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/git/poky
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
[submodule "layers/meta-resin"]
	path = layers/meta-resin
	url = https://github.com/resin-os/meta-resin
[submodule "layers/meta-sunxi"]
	path = layers/meta-sunxi
	url = https://github.com/linux-sunxi/meta-sunxi.git
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = https://github.com/meta-rust/meta-rust.git
[submodule "layers/meta-emlid-neutis"]
	path = layers/meta-emlid-neutis
	url = https://github.com/Neutis/meta-emlid-neutis.git
