[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
	branch = master
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
	branch = dunfell
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = dunfell
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
	branch = master
[submodule "layers/meta-sunxi"]
	path = layers/meta-sunxi
	url = https://github.com/linux-sunxi/meta-sunxi.git
	branch = dunfell
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = https://github.com/meta-rust/meta-rust.git
	branch = dunfell
[submodule "contracts"]
	path = contracts
	url = https://github.com/balena-io/contracts.git
	branch = master
